<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image="" src="{{product.image}}" alt="Photo of a Shiba Inu">
    <mat-card-content>{{product.description}}</mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="onClick()">
            Buy {{product.price | currency}}
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
